
.flex-container{
    background: darkgoldenrod;
    display: flex;
    height: 80vh;
    // flex-direction: ;
    // flex-flow: column nowrap;
    // justify-content: space-between;
    // align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;

    

}


.flex-container > div{
    background: darkslategrey;;
    width: 17%;
    height: 17vh;
    margin: 10px 5px;
    font-size: 30 px;
    text-align: center;
    line-height: 100px;
    
}