@use './archivomixins.scss' as AM;

body {
  margin: 0;
  padding: 0;
  background: #000;
}
ul {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;

  & li {
    position: relative;
    list-style: none;
    height: 300px;
    width: 10px;
    margin: 0px 10px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 30px;
      background: #262626;
      top: -30px;
      border-top: {
        left-radius: 2px;
        right-radius: 2px;
      }

      // border-top-left-radius: 2px;
      // border-top-right-radius: 2px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -30px;
      width: 100%;
      height: 30px;
      background: #262626;
    }

    &:nth-child(1) {
      @include  AM.background-sables(#ffd0d0,#f00);
    }

    &:nth-child(2) {
      @include  AM.background-sables(#ffffd7,#ff0);
    }
    &:nth-child(3) {
      @include  AM.background-sables(#bffbbf,#0f0);
    }
    &:nth-child(4) {
      @include AM.background-sables(#acffff,#00f);
    }
    &:nth-child(5) {
      @include AM.background-sables(#bebeff,#f0f);
    }

    &:hover {
      background: #9b9b9b;
      box-shadow: none;
    }
  }
}
