$color1: #edcd1f;
$color2: #1e2d3b;
$colortext: #f7f7f7;
$colortitle: #c6c6c6;
$font: "Lato", sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  header {
    background: $color1;
    width: 25vw;
    height: 15vh;
    position: fixed;
    z-index: 4;
    & div img {
      position: relative;
      left: 20px;
      top: 20px;
      z-index: 4;
    }
    & div h1 {
      width: min-content;
      color: $color2;
      position: relative;
      left: 90px;
      bottom: 50px;
      font-size: 22px;
      font-family: "Lato", sans-serif;
      letter-spacing: 0.05em;
      z-index: 4;
    }
    & div ul {
      margin: 0px;
      padding: 0px 0px;
      left: 341px;
      bottom: 100%;
      top: -0px;
      position: absolute;
      width: 75vw;
      height: 15vh;
      background: $color2;
      list-style-type: none;
      overflow: hidden;
      z-index: 4;
      & li {
        float: left;
        z-index: 4;
        & a {
          display: block;
          color: #fafafa;
          font-family: $font;
          text-align: center;
          padding: 40px 50px;
          text-decoration: none;
        }
        & a:hover {
          color: $color1;
        }
      }
    }
  }
  section {
    height: 300vh;
    & div {
      & video {
        width: 100vw;
      }
      & h1 {
        margin: 0px;
        width: 700px;
        height: 200px;
        text-align: center;
        font: 60px $font;
        color: $color1;
        letter-spacing: 0.05em;
        line-height: 1.1em;
        background-color: blu;
        position: absolute;
        left: 25%;
        top: 50%;
      }
    }
  }
  section {
    & h2 {
      color: #c6c6c6;
      font-family: "Lato", sans-serif;
      text-align: center;
      font-size: 55px;
      letter-spacing: 0.05em;
      z-index: -1;
    }
    & .planeamiento {
      background: #f7f7f7;
      position: relative;
      left: 200px;
      bottom: 0px;
      display: block;
    }
    & .maquetas {
      background: #f7f7f7;
      position: relative;
      left: 520px;
      bottom: 474px;
      display: block;
    }
    & .construccion {
      background: #f7f7f7;
      position: relative;
      left: 840px;
      bottom: 950px;
      display: block;
    }
    & .nosotros {
      width: 100%;
      background: #fffff;
      display: block;
      z-index: -1;
      position: absolute;
      top: 1400px;
      & h2 {
        color: $colortitle;
        position: relative;
        bottom: 700px;
      }
      & img {
        position: relative;
        left: 50%;
      }
      & p {
        position: relative;
        bottom: 700px;
        color: #3b3a3a;
      }
    }
    & .banner {
      height: 250px;
      background: $color1;
      position: absolute;
      top: 2090px;
      overflow: hidden;
      & .numbers {
        display: flex;
        justify-content: space-around;
        margin: 70px;
        list-style: none;
        animation: cambiar 3s infinite;

        & li {
          font-family: $font;
          color: $colortext;
        }
      }
      @keyframes cambiar{
        0%{margin-top: 0;}
        20%{margin-top: 0;}
        25%{margin-top: 250px;}
      }
    }
    & .date {
      height: 250px;
      position: relative;
      top: -160px;
    }
    & .conceptos {
      display: flex;
      justify-content: space-around;
      margin: 70px;
      list-style: none;
      animation: cambiar 3s infinite;
      & li {
        text-align: center;
        color: $color2;
      }
    }
    & div.proyectos {
      position: absolute;
      top: 2400px;
      width: 100vw;
      height: 300vh;
      // background: red;
      font-family: Arial, Helvetica, sans-serif;
      & div.containerimg {
        background: yellow;
        display: flex;
        width: 920px;
        height: 470px;
        margin: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        & div.imagenpro {
          width: 50%;
          position: relative;
          height: 50%x;
          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          & .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(0, 118, 192, 0.781);
            width: 100%;
            transition: 2s ease;
            overflow: hidden;

            & h4 {
              color: #fafafa;
              font-size: 30px;
              position: absolute;
              top: 50%;
              left: 50%;
              text-align: center;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
    & .clientes {
      background: $colortext;
      position: absolute;
      top: 3500px;
      & .logosclientes {
        display: flex;
        justify-content: space-around;
        transition: 1s ease;
        overflow: hidden;
        & img {
          filter: grayscale(100%);
          &:hover {
            filter: grayscale(0%);
          }
        }
      }
    }
    & .contacto {
      width: 100vw;
      height: 1300px;
      background-color: #ffff;
      position: absolute;
      top: 3950px;
      & .maps {
        position: relative;
        left: 275px;
      }
      & .preguntas {
        width: 426px;
        position: relative;
        left: 275px;
        margin: 5px;
        & h5 {
          color: $color2;
          font-size: 25px;
          font-family: $font;
        }
        & p {
          font-family: $font;
          color: $color2;
          position: relative;
          font-size: 17px;
        }
      }
      & .input {
        width: 425px;
        position: relative;
        left: 275px;
        & form {
          // background-color: $colortext;
          & input {
            background-color: $colortext;
            width: 425px;
          }
          & textarea {
            background: $colortext;
          }
          & .submit {
            color: white;
            background: $color2;
            width: 57px;
            height: 32px;
            font-size: 16px;
            font-family: $font;
          }
        }
      }
      & .datoscontacto {
        width: 300px;
        height: 500px;
        position: relative;
        left: 800px;
        top: -520px;
        & .oficina {
          & h5 {
            font-size: 25px;
            color: $color2;
          }
          & p {
            color: $color2;
            font-size: 17px;
            line-height: 1.5em;
          }
          
        }
      }
    }
    
  }
  & footer{
    width: 100vw;
    height: 70px;
    position: absolute;
    top: 5250px;
    & h4{
      font-family: $font;
      font-size: 14px;
      text-align: center;
    }
    & .iconsrs{ 
      width: 200px;
      height: 60px;
      display: flex;
      position: relative;
      left: 900px;
      top: -60px;
      & ul{
        list-style: none;
        & li{
          float: left;
          & a{
            background: $colortitle;
            display: block;
            padding: 10px 10px;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            text-align: center  ;
            color: $colortext;
          }
        }
      }


    }
  }
}



.imagenpro:hover .overlay {
  height: 100%;
  cursor: pointer;
}
