body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
header{
    width: 100vw;
    height: 100px;
    background: red;
}
header .boxyellow{
    width: 332px;
    height: 100px;
    background: rgb(237, 205, 31);
    color: #1E2D3B;
    position: absolute;
}
.esfera{
text-align: left;
font-size: 22px;
letter-spacing: 0.05em;
line-height: 1em;
vertical-align: baseline;
position: relative;
left: 88px;
top: 15px;
}
.iconoc{
    width: 47px;
    height: 49px;
    position: relative;
    top: -60px;
    left: 20px;
}